<% for(var i = 0; i< data.length; i++) { %> 

<div class="col-md-5 mx-2 mb-3 d-flex flex-column p-4 shadow text-light" style="border: 3px solid black; background-color: black;" id="pred-card">
    <div class="date">
        <p class="text-right"><%= data[i].updatedAt.toString().substring(0,15)%></p>
    </div>
    <div id="names" class="d-sm-flex gap-5 align-items-center text-center">
        <h3 style="color: #f72;"><%= data[i].home_team%></h3>
        <p style="color: #f72;">vs</p>
        <h3 style="color: #f72;"><%= data[i].away_team%></h3>
    </div>
    <div id="scores" class="text-center">
        <h2><%= data[i].home_score%> - <%= data[i].away_score%></h2>
    </div>
    <div id="buttons" class="d-sm-flex text-center justify-content-between">
        <a class="btn btn-danger btn-sm delete-btn" data-id="<%= data[i]._id%>">Remove  <i class="bi bi-x"></i></a>
        <a href="update_prediction?id=<%= data[i]._id%>" class="btn btn-primary btn-sm">Edit  <i class="bi bi-pencil"></i></a>
    </div>
</div>

<% } %> 