<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head.ejs') %> 
</head>
<body>
    <%- include('./partials/nav.ejs') %> 

    <section class="p-5" id="add">
        <div class="container">
            <a href="home" class="btn btn-lg btn-light mt-5 mb-4"><i class="bi bi-arrow-left-circle"></i> Back to home</a>
            <h2 class="mb-5">Update Prediction</h2>
            <div id="warn"></div>
            
            <!-- <form> -->
                <div class="form-group my-5">
                    <input type="text" class="form-control" id="id" name="id" value="<%= data._id %> " hidden>
                </div>

                <div class="form-group my-5">
                    <label for="Country">Country Flag</label>
                    <select class="form-select form-select-lg mb-3 w-50" id="country" name="country" selected="<%= data.country %>" aria-label=".form-select-lg example" required>
                        <option selected>Select Country</option>
                        <option><strong>Countries</strong></option>
                        <option value="https://www.countryflags.io/af/flat/64.png">Afghanistan</option>
                        <option value="https://www.countryflags.io/al/flat/64.png">Albania</option>
                        <option value="https://www.countryflags.io/dz/flat/64.png">Algeria</option>
                        <option value="https://www.countryflags.io/ao/flat/64.png">Angola</option>
                        <option value="https://www.countryflags.io/ad/flat/64.png">Andorra</option>
                        <option value="https://www.countryflags.io/ar/flat/64.png">Argentina</option>
                        <option value="https://www.countryflags.io/au/flat/64.png">Austrailia</option>
                        <option value="https://www.countryflags.io/at/flat/64.png">Austria</option>
                        <option value="https://www.countryflags.io/bh/flat/64.png">Bahrain</option>
                        <option value="https://www.countryflags.io/bd/flat/64.png">Bangladesh</option>
                        <option value="https://www.countryflags.io/be/flat/64.png">Belgium</option>
                        <option value="https://www.countryflags.io/be/flat/64.png">Bolivia</option>
                        <option value="https://www.countryflags.io/bw/flat/64.png">Botswana</option>
                        <option value="https://www.countryflags.io/br/flat/64.png">Brazil</option>
                        <option value="https://www.countryflags.io/bg/flat/64.png">Bulgaria</option>
                        <option value="https://www.countryflags.io/ca/flat/64.png">Canada</option>
                        <option value="https://www.countryflags.io/cm/flat/64.png">Cameroon</option>
                        <option value="https://www.countryflags.io/cl/flat/64.png">Chile</option>
                        <option value="https://www.countryflags.io/cn/flat/64.png">China</option>
                        <option value="https://www.countryflags.io/co/flat/64.png">Columbia</option>
                        <option value="https://www.countryflags.io/cr/flat/64.png">Costa Rica</option>
                        <option value="https://www.countryflags.io/ci/flat/64.png">Cote D'Ivoire</option>
                        <option value="https://www.countryflags.io/hr/flat/64.png">Croatia</option>
                        <option value="https://www.countryflags.io/cu/flat/64.png">Cuba</option>
                        <option value="https://www.countryflags.io/cy/flat/64.png">Cyprus</option>
                        <option value="https://www.countryflags.io/cz/flat/64.png">Czech Republic</option>
                        <option value="https://www.countryflags.io/dk/flat/64.png">Denmark</option>
                        <option value="https://www.countryflags.io/do/flat/64.png">Dominican Republic</option>
                        <option value="https://www.countryflags.io/ec/flat/64.png">Ecuador</option>
                        <option value="https://www.countryflags.io/eg/flat/64.png">Egypt</option>
                        <option value="https://www.countryflags.io/sv/flat/64.png">El Salvador</option>
                        <option value="https://www.countryflags.io/gb/flat/64.png">England</option>
                        <option value="https://www.countryflags.io/ee/flat/64.png">Estonia</option>
                        <option value="https://www.countryflags.io/et/flat/64.png">Ethiopia</option>
                        <option value="https://www.countryflags.io/fi/flat/64.png">Finland</option>
                        <option value="https://www.countryflags.io/fr/flat/64.png">France</option>
                        <option value="https://www.countryflags.io/ga/flat/64.png">Gabon</option>
                        <option value="https://www.countryflags.io/gm/flat/64.png">Gambia</option>
                        <option value="https://www.countryflags.io/de/flat/64.png">Germany</option>
                        <option value="https://www.countryflags.io/gh/flat/64.png">Ghana</option>
                        <option value="https://www.countryflags.io/gr/flat/64.png">Greece</option>
                        <option value="https://www.countryflags.io/gd/flat/64.png">Grenada</option>
                        <option value="https://www.countryflags.io/gt/flat/64.png">Guatamela</option>
                        <option value="https://www.countryflags.io/ht/flat/64.png">Haiti</option>
                        <option value="https://www.countryflags.io/hn/flat/64.png">Honduras</option>
                        <option value="https://www.countryflags.io/hk/flat/64.png">Hong Kong</option>
                        <option value="https://www.countryflags.io/hu/flat/64.png">Hungary</option>
                        <option value="https://www.countryflags.io/is/flat/64.png">Iceland</option>
                        <option value="https://www.countryflags.io/in/flat/64.png">India</option>
                        <option value="https://www.countryflags.io/id/flat/64.png">Indonesia</option>
                        <option value="https://www.countryflags.io/iq/flat/64.png">Iraq</option>
                        <option value="https://www.countryflags.io/ie/flat/64.png">Ireland</option>
                        <option value="https://www.countryflags.io/it/flat/64.png">Italy</option>
                        <option value="https://www.countryflags.io/jp/flat/64.png">Japan</option>
                        <option value="https://www.countryflags.io/jo/flat/64.png">Jordan</option>
                        <option value="https://www.countryflags.io/ar/flat/64.png">Kazakhstan</option>
                        <option value="https://www.countryflags.io/ke/flat/64.png">Kenya</option>
                        <option value="https://www.countryflags.io/kp/flat/64.png">Korea</option>
                        <option value="https://www.countryflags.io/kw/flat/64.png">Kuwait</option>
                        <option value="https://www.countryflags.io/kg/flat/64.png">Kyrgystan</option>
                        <option value="https://www.countryflags.io/lv/flat/64.png">Latvia</option>
                        <option value="https://www.countryflags.io/lb/flat/64.png">Lebanon</option>
                        <option value="https://www.countryflags.io/ls/flat/64.png">Lesotho</option>
                        <option value="https://www.countryflags.io/li/flat/64.png">Liberia</option>
                        <option value="https://www.countryflags.io/lt/flat/64.png">Lithuania</option>
                        <option value="https://www.countryflags.io/mx/flat/64.png">Mexico</option>
                        <option value="https://www.countryflags.io/na/flat/64.png">Namibia</option>
                        <option value="https://www.countryflags.io/nl/flat/64.png">Netherlands</option>
                        <option value="https://www.countryflags.io/nz/flat/64.png">New Zealand</option>
                        <option value="https://www.countryflags.io/ni/flat/64.png">Nicaragua</option>
                        <option value="https://www.countryflags.io/ng/flat/64.png">Nigeria</option>
                        <option value="https://www.countryflags.io/no/flat/64.png">Nowray</option>
                        <option value="https://www.countryflags.io/jp/flat/64.png">Japan</option>
                        <option value="https://www.countryflags.io/ph/flat/64.png">Pakistan</option>
                        <option value="https://www.countryflags.io/pa/flat/64.png">Panama</option>
                        <option value="https://www.countryflags.io/pe/flat/64.png">Peru</option>
                        <option value="https://www.countryflags.io/pl/flat/64.png">Poland</option>
                        <option value="https://www.countryflags.io/pt/flat/64.png">Portugal</option>
                        <option value="https://www.countryflags.io/pr/flat/64.png">Puerto Rico</option>
                        <option value="https://www.countryflags.io/qa/flat/64.png">Qatar</option>
                        <option value="https://www.countryflags.io/ro/flat/64.png">Romania</option>
                        <option value="https://www.countryflags.io/ru/flat/64.png">Russia</option>
                        <option value="https://www.countryflags.io/rw/flat/64.png">Rwanda</option>
                        <option value="https://www.countryflags.io/sm/flat/64.png">San Marino</option>
                        <option value="https://www.countryflags.io/sa/flat/64.png">Saudi Arabia</option>
                        <option value="https://www.countryflags.io/gb/flat/64.png">Scotland</option>
                        <option value="https://www.countryflags.io/za/flat/64.png">South Africa</option>
                        <option value="https://www.countryflags.io/kr/flat/64.png">South Korea</option>
                        <option value="https://www.countryflags.io/es/flat/64.png">Spain</option>
                        <option value="https://www.countryflags.io/lk/flat/64.png">Sri Lanka</option>
                        <option value="https://www.countryflags.io/se/flat/64.png">Sweden</option>
                        <option value="https://www.countryflags.io/ch/flat/64.png">Switzerland</option>
                        <option value="https://www.countryflags.io/tz/flat/64.png">Tanzania</option>
                        <option value="https://www.countryflags.io/tt/flat/64.png">Trinidad and Tobago</option>
                        <option value="https://www.countryflags.io/tr/flat/64.png">Turkey</option>
                        <option value="https://www.countryflags.io/tn/flat/64.png">Tunisa</option>
                        <option value="https://www.countryflags.io/ua/flat/64.png">Ukraine</option>
                        <option value="https://www.countryflags.io/ae/flat/64.png">United Arab of Emirates</option>
                        <option value="https://www.countryflags.io/us/flat/64.png">United States of America</option>
                        <option value="https://www.countryflags.io/uy/flat/64.png">Uruguay</option>
                        <option value="https://www.countryflags.io/ve/flat/64.png">Venezuala</option>
                        <option value="https://www.countryflags.io/vn/flat/64.png">Vietnam</option>
                        <option value="https://www.countryflags.io/gb/flat/64.png">Wales</option>
                        <option value="https://www.countryflags.io/zm/flat/64.png">Zambia</option>
                        <option value="https://www.countryflags.io/zw/flat/64.png">Zimbabwe</option>
                        <!-- <option><strong>Competitions</strong></option>
                        <option value="https://www.thesportsdb.com/images/media/league/badge/pdd43f1610891709.png">English Pemier League</option>
                        <option value="https://www.thesportsdb.com/images/media/league/badge/2yo0vn1592927519.png">French Ligue 1</option>
                        <option value="https://www.thesportsdb.com/images/media/league/badge/0j55yv1534764799.png">German Bundesliga</option>
                        <option value="https://www.thesportsdb.com/images/media/league/badge/2yo0vn1592927519.png">Italian Serie A</option>
                        <option value="https://www.thesportsdb.com/images/media/league/badge/7onmyv1534768460.png">Spanish Laliga</option>
                        <option value="https://www.thesportsdb.com/images/media/league/badge/dqo6r91549878326.png">American Major League Soccer</option>
                        <option value="https://www.thesportsdb.com/images/media/league/badge/ywoi5k1534590331.png">Dutch Eredivise</option> -->
                    </select>

                </div>
                <div class="form-group row my-5">
                    <div class="col-sm-6">
                        <label for="home_team">Home Team</label>
                        <input type="home_team" class="form-control" id="home_team" name="home_team" aria-describedby="emailHelp" value="<%= data.home_team %>" style="width: 30vw;">
                    </div>
                    <div class="col-sm-6">
                        <label for="away_team">Away Team</label>
                        <input type="away_team" class="form-control" id="away_team" name="away_team" aria-describedby="emailHelp" value="<%= data.away_team %>" style="width: 30vw;">
                    </div>
                </div>
                <div class="form-group my-5">
                    <label for="home_team">Tip</label>
                    <select class="form-control" id="tip" name="tip" style="width: 50vw" selected="<%= data.tip%>">
                        <option value="Home win">Home win</option>
                        <option value="Away win">Away win</option>
                        <option value="Draw">Draw</option>
                        <option value="Home win or Draw">Home win or Draw</option>
                        <option value="Away win or Draw">Away win or Draw</option>
                        <option value="Both Teams to Score">Both Teams to Score</option>
                        <option value="Away to Score">Away to Score</option>
                        <option value="Home to Score">Home to Score</option>
                        <option value="Home win">Over 2.5 Goals</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="form-group my-3">
                    <label for="exampleFormControlTextarea1">Specify If Other</label>
                    <textarea class="form-control" id="other" name="other" rows="3" style="width: 50vw"></textarea>
                </div>
                <div class="form-group my-5">
                    <label for="home_team">Date</label>
                        <input type="date" class="form-control" id="date" name="date" aria-describedby="emailHelp" placeholder="Enter Home Team " style="width: 50vw;" required value="<%= new Date() %> ">
                </div>
                <div class="form-group my-5">
                    <label for="home_team">Page</label>
                    <select class="form-control" id="page" name="page" style="width: 50vw" required>
                        <option value=1 >Today's</option>
                        <option value=2 >Tomorrow's</option>
                    </select>
                </div>

                <button class="btn btn-lg btn-primary update-btn" type="submit" id="update-btn">Update</button>
            <!-- </form> -->
        </div>
    </section>

    <%- include('./partials/footer.ejs') %> 
    
</body>
</html>